<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= resource.title %>
</p>

<p>
  <b>Points:</b>
  <%= resource.points %>
</p>

<p>
  <b>Importance:</b>
  <%= resource.importance %>
</p>


<%= link_to 'Edit', edit_project_story_path(parent, resource) %> |
<%= link_to 'Back', project_stories_path(parent) %>
