<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Points:</b>
  <%= @story.points %>
</p>

<p>
  <b>Importance:</b>
  <%= @story.importance %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
